<div class="border-start d-flex align-items-center px-3 position-relative">
  <div class="dropdown" *ngIf="loggedIn">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ this.user.name }}
    </a>
    <ul class="dropdown-menu shadow-sm">
      <li><a href="javascript:" (click)="signOut()" class="dropdown-item">Sign Out</a></li>
    </ul>
  </div>
  <div *ngIf="!loggedIn">
    <a [routerLink]="route.signIn" class="me-3" translate="">Sign In</a>
    <a [routerLink]="route.signUp" class="btn btn-outline-primary" translate="">Sign Up</a>
  </div>
</div>
