<div class="py-5">
  <h2 class="text-center mb-4">{{ 'Sign In' | translate }}</h2>
  <div class="alert alert-danger" role="alert" *ngIf="backendErrors.length > 0">
    <div *ngFor="let errors of backendErrors; let i = index">{{ errors | translate}}</div>
  </div>
  <form
    (ngSubmit)="onSubmit($event)"
    #ngForm="ngForm"
    [formGroup]="formGroup"
    novalidate
  >
    <div class="mb-3">
      <label for="email" translate="">Email <span class="text-danger">*</span></label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div *ngIf="submitted && formInfo['email'].errors">
        <span *ngIf="formInfo['email'].errors['required']" class="text-danger" translate="">
          The email field is required.
        </span>
        <span *ngIf="formInfo['email'].errors['email']" class="text-danger" translate="">
          The email must be a valid email address.
        </span>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" translate="">Password <span class="text-danger">*</span></label>
      <input type="password" class="form-control" id="password" formControlName="password" autocomplete="off">
      <div *ngIf="submitted && formInfo['password'].errors">
        <span *ngIf="formInfo['password'].errors['required']" class="text-danger" translate="">
          The password field is required.
        </span>
      </div>
    </div>
    <div class="text-center py-3">
      <button type="submit" class="btn btn-primary rounded-0 w-100" [disabled]="validated && submitted" translate="">Sign In</button>
    </div>
    <div>
      <span translate="">Not account yet? </span>
      <a [routerLink]="'/sign-up'" translate="">Create an account.</a>
    </div>
  </form>
</div>
