<circle-progress
  [percent]="progress"
  [radius]="100"
  [maxPercent]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="color"
  [innerStrokeColor]="subColor"
  [animation]="true"
  [animationDuration]="300"
  [titleColor]="color"
  [titleFontSize]="'30'"
  [titleFontWeight]="'500'"
  [unitsColor]="color"
  [unitsFontSize]="'20'"
  [unitsFontWeight]="'500'"
  [subtitle]="subTitle"
  [subtitleColor]="color"
  [subtitleFontSize]="'18'"
  [subtitleFontWeight]="'500'"
></circle-progress>
