<h2 class="text-primary mb-3" translate="">Work Route</h2>
<hr class="mb-5">
<div class="row">
  <div [ngClass]="{'col-md-8': step, 'col-md-12': !step}">
    <div class="work-route-listing">
      <div class="step d-flex" *ngFor="let item of data; index as i">
        <div class="step-arrow">
          <span class="d-inline-block fw-bolder text-primary fs-1 px-3" *ngIf="i == 0">✦</span>
          <span class="d-inline-block fw-bolder text-primary fs-3 px-3" *ngIf="i > 0">〱</span>
        </div>
        <div
          class="card border-5 border-top"
          [ngClass]="{
            'border-success': item.progress == 100,
            'border-info': item.progress >= 50 && item.progress < 100,
            'border-warning': item.progress >= 25 && item.progress < 50,
            'border-danger': item.progress < 25
           }"
        >
          <div class="card-body text-center">
            <app-progress-bar-circle class="mb-5 d-block" [progress]="item.progress" [subTitle]="'Step ' + (i+1)"></app-progress-bar-circle>
            <div class="h5">{{ item.title }}</div>
            <div class="text-truncate text-truncate-2 text-start fs-7">{{ item.description }}</div>
          </div>
          <div class="card-footer border-0 bg-white text-center">
            <a
              class="btn fw-semibold px-4"
              [ngClass]="{
                'btn-success': item.progress == 100 && step == 'step-'+i,
                'btn-info': item.progress >= 50 && item.progress < 100 && step == 'step-'+i,
                'btn-warning': item.progress >= 25 && item.progress < 50 && step == 'step-'+i,
                'btn-danger': item.progress < 25 && step == 'step-'+i,
                'btn-outline-success': item.progress == 100 && step !== 'step-'+i,
                'btn-outline-info': item.progress >= 50 && item.progress < 100 && step !== 'step-'+i,
                'btn-outline-warning': item.progress >= 25 && item.progress < 50 && step !== 'step-'+i,
                'btn-outline-danger': item.progress < 25 && step !== 'step-'+i
               }"
              [routerLink]="[routes.project.detail, item.project.id]"
              [fragment]="'step-'+i"
              (click)="scrollTo('step-'+i)"
              translate=""
            >
              Detail
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-primary px-4" (click)="loadMore()" *ngIf="currentPage" translate="">Load More</a>
    </div>
  </div>
  <div class="col-md-4 work-route-detail border-start" [ngClass]="{'d-none': !step}">
    <div class="border">
      <div class="card border-0" *ngFor="let item of data; index as i" [id]="'step-'+i">
        <ng-container *ngIf="step == 'step-'+i">
          <div class="card-header">
            <div class="h4">{{ item.title }}</div>
            <div>
              <span class="fw-semibold" translate="">Assigned for</span>:
              <span class="fw-semibold text-success"> {{ item.user.name }}</span>
            </div>
          </div>
          <div class="card-body">
            <div>{{ item.description }}</div>
            <hr>
            <ng-container *ngIf="item.works">
              <div *ngFor="let work of item.works">
                <div class="fw-semibold">{{ work.detail }}</div>
                <app-progress-bar [progress]="work.progress"></app-progress-bar>
              </div>
            </ng-container>
            <a
              *ngIf="item.works.length == 0"
              [routerLink]="[routes.project.updateWorkRoute, item.project.id]"
              class="text-decoration-underline"
              [fragment]="'work-route'+item.id"
              translate=""
            >
              Add work plan
            </a>
          </div>
          <div class="card-footer text-end">
            <a
              [routerLink]="[routes.project.updateWorkRoute, item.project.id]"
              class="btn btn-outline-primary"
              [fragment]="'work-route'+item.id"
              translate=""
            >
              Update Work
            </a>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
