<ul [class]="navClass + ' ps-0'" *ngIf="isMobile">
  <li *ngFor="let item of menu" class="d-block fw-bold mb-4 p-0">
    <a
      [routerLink]="[item.url]"
      [class]="linkClass"
      data-bs-dismiss="modal"
      routerLinkActive="text-warning"
    >
      {{ item.label | translate }}
    </a>
  </li>
</ul>
<ul [class]="navClass + ' ps-0'" *ngIf="!isMobile">
  <li *ngFor="let item of menu" [class]="liClass">
    <a
      [routerLink]="[item?.url]"
      (click)="(item.callback ?? voidFn)()"
      [class]="linkClass"
      routerLinkActive="text-primary"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ item.label | translate }}
    </a>
  </li>
</ul>
