<ul [class]="navClass + ' ps-0'" *ngIf="isMobile">
  <li *ngFor="let item of menu" class="d-block fw-bold mb-4 p-0">
    <a
      [routerLink]="[item.url]"
      [class]="linkClass"
      data-bs-dismiss="modal"
      routerLinkActive="text-warning"
    >
      {{ item.label | translate }}
    </a>
  </li>
</ul>
<ul [class]="navClass + ' ps-0'" *ngIf="!isMobile">
  <li *ngFor="let item of menu" class="d-inline-block ps-lg-3 ps-xl-4">
    <a
      [routerLink]="[item.url]"
      [class]="linkClass + ' fs-xl-3 fs-md-4 fw-semibold'"
      routerLinkActive="text-primary"><!--[routerLinkActiveOptions]="{ exact: true }"-->
      {{ item.label | translate }}
    </a>
  </li>
</ul>
