<div class="left-sidebar position-relative" [ngClass]="{'show': show}">
  <div class="inside vh-100 border-end bg-dark position-fixed top-0 start-0">
    <div class="p-2 d-flex align-items-center">
      <div>
        <a class="logo border-bottom border-light" [routerLink]="isLoggedIn ? paths.dashboard : paths.home" *ngIf="show">
          <img [src]="logo" alt="logo" class="logo" width="auto" height="auto" *ngIf="logo"/>
          <h4 class="fw-bolder mb-0" *ngIf="!logo">LOGO</h4>
        </a>
      </div>
      <div class="ms-auto">
        <button (click)="switch(show)" class="btn btn-outline-light rounded-1">☰</button>
      </div>
    </div>
    <ng-container *ngIf="show">
      <ul [class]="'list-unstyled py-5 px-2'">
        <li *ngFor="let item of menu" class="pb-2">
          <a
            [routerLink]="[item.url]"
            [class]="'text-white text-secondary-hover fs-xl-3 fs-md-4'"
            routerLinkActive="active"
          >
            {{ item.label | translate }}
          </a>
        </li>
      </ul>
    </ng-container>
  </div>
</div>
