@import "helper";

.left-sidebar {
  width: 3.5rem;

  &.show {
    width: calPxToRem(256) !important;

    .inside {
      width: calPxToRem(256) !important;
    }
  }

  .inside {
    width: 3.5rem;
    z-index: $zindex-offcanvas;

    .logo {
      height: $headerHeight;
      color: red;
    }
  }

  a.active {
    color: $warning !important;
  }
}
