<header class="position-fixed top-0">
  <div #top></div>
  <nav
    class="navbar navbar-expand-lg shadow-sm w-100 bg-white py-2"
  >
    <div class="container-fluid">
      <div class="logo-header text-end pe-4">
        <a [routerLink]="routes.home">
          <ng-container *ngIf="logo != ''">
            <img [src]="logo" alt="logo" class="logo" width="auto" height="auto" />
          </ng-container>
          <ng-container *ngIf="logo == ''">
            <h4 class="fw-bolder mb-0">LOGO</h4>
          </ng-container>
        </a>
      </div>
      <div class="border-start d-flex align-items-center flex-grow-1">
        <app-menu
          [ngClass]="''"
          [navClass]="'menu mb-0'"
          [scrollTop]="top"
          [linkClass]="'text-info-hover fs-xl-3 fs-md-4 fw-semibold px-3'"
          [menu]="authService.isLoggedIn ? this.menuAuth : this.menuUnAuth"
          [isMobile]="false"
        >
        </app-menu>
      </div>
      <div>
        <app-auth-group></app-auth-group>
      </div>
    </div>
  </nav>
</header>
