@import 'helper';

header {
  width: 100%;
  height: $headerHeight;
  z-index: $zindex-fixed;

  .navbar {
    height: $headerHeight;
  }

  .logo-header {
    width: calPxToRem(256);
    .logo {
      max-width: 10rem;
    }
  }
}
