<header class="position-fixed top-0">
  <div #top></div>
  <nav
    class="navbar navbar-expand-lg shadow-sm w-100 bg-white py-2"
  >
    <div class="container-fluid">
      <div class="logo-header">
        <a [routerLink]="''">
          <ng-container *ngIf="logo != ''">
            <img [src]="logo" alt="logo" class="logo" width="auto" height="auto" />
          </ng-container>
          <ng-container *ngIf="logo == ''">
            <h4 class="fw-bolder mb-0">LOGO</h4>
          </ng-container>
        </a>
      </div>
      <div class="border-start d-flex align-items-center flex-grow-1 px-3">
        <app-menu
          [ngClass]="''"
          [navClass]="'menu mb-0'"
          [scrollTop]="top"
          [linkClass]="'text-info-hover'"
          [menu]="menu"
          [isMobile]="false"
        >
        </app-menu>
      </div>
      <div>
        <app-auth-header></app-auth-header>
      </div>
    </div>
  </nav>
</header>
