<div class="w-100 py-5 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <img src="/assets/images/bird-letter.png" width="456" height="285" class="mb-2 w-50 h-auto" alt="image">
    <h1 class="text-warning" translate="">Looks like you don't have any {{type}}!</h1>
    <div class="fs-4" translate="">
      Let’s create your first {{type}} right
      <a class="text-primary text-decoration-underline" [routerLink]="route" translate="">here</a>!
    </div>
  </div>
</div>
