<div class="progress mb-3">
  <div class="progress-bar progress-bar-striped progress-bar-animated"
       [ngClass]="{
        'bg-success': progress == 100,
        'bg-info': progress >= 50 && progress < 100,
        'bg-warning': progress >= 25 && progress < 50,
        'bg-danger': progress < 25
       }"
       role="progressbar" aria-label="Example with label"
       [style]="{width: progress + '%'}"
       aria-valuemin="0"
       [attr.aria-valuemax]="progress"
  >
    {{progress}}%
  </div>
</div>
