@import 'variables';

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  warning: $warning,
  success: $success,
  danger: $danger,
  info: $info,
  light: $light,
  dark: $dark,
  white: $white,
  gray: $gray,
);

$utilities: (
  'bg': (
    property: background-color,
    class: 'bg',
    values: (
      $theme-colors,
    ),
  ),
);

$utilities: map_merge(
  $utilities,
  (
    'font-weight': (
      responsive: true,
      property: font-weight,
      class: 'fw',
      values: (
        normal: $font-weight-normal,
        medium: $font-weight-medium,
        semibold: $font-weight-semi-bold,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder,
      ),
    ),
  )
);

$utilities: (
  'color': (
    property: color,
    class: text,
    values: $theme-colors
  )
);

$utilities: map_merge(
  $utilities,
  (
    'object-fit': (
      property: object-fit,
      class: o-fit,
      values: (
        fill: fill,
        contain: contain,
        cover: cover,
        none: none,
        scale: scale-down,
      ),
    ),
  )
);

$utilities: map_merge(
  $utilities,
  (
    'width': (
      property: width,
      class: w,
      responsive: true,
      values: (
        10: 10%,
        15: 15%,
        20: 20%,
        25: 25%,
        30: 30%,
        35: 35%,
        40: 40%,
        45: 45%,
        50: 50%,
        55: 55%,
        60: 60%,
        65: 65%,
        70: 70%,
        75: 75%,
        80: 80%,
        85: 85%,
        90: 90%,
        95: 95%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);