$primary: #0071B1;
$secondary: #D8EBFC;
$danger: #FF2700;
$warning: #FFE190;
$success: #00B181;
$info: #D8EBFC;
$dark: #353535;
$light: #fff;
$white: #fff;
$gray: #b9bdbd;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 700;
$font-weight-extra-bold: 800;

$font-primary: 'Noto Sans JP', sans-serif;
$font-secondary: 'Oswald', sans-serif;
$font-third: 'Lato', sans-serif;
